<div class="container">
	<div class="row">
		<div class="twelve columns">
			<% if flash %>
			<% if flash[:error] %>
			  <%= content_tag :div, :id => "flash_name", :class => "alert-box alert" do %>
			    <%= flash[:error] %>
			    <a class="close">x</a>
			  <% end %>
			<% end %>

			<% if flash[:notice] %>
			  <%= content_tag :div, :id => "flash_name", :class => "alert-box success" do %>
			    <%= flash[:notice] %>
			    <a class="close">x</a>
			  <% end %>
			<% end %>
			<% end %>
		</div>
	</div>
</div>
